@import '../../styles/_main.scss';

.text-input {
  margin: 1.25em 0;

  label {
    margin: 0.5em 0;
  }

  input {
    &[type="text"],
    &[type="email"],
    &[type="password"],
    &[type="number"],
    &[type="date"] {
      height: 2.5rem;
      padding: 0.25em 0.5em;
      border: none;
      outline: 0;
      background-color: $baby-blue;
      border-radius: $radius-small;
      text-overflow: ellipsis;
      width: 100%;
    
      &:focus {
        border-bottom: 3px solid $blue-green;
      }
    }
  }
  
  .clear-button {
    border: none;
    padding: 0.25em 0.5em;
    position: absolute;
    right: 20px;
  }
  
  .input-hint {
    margin: 0.5em 0;
    font-size: 0.75em;
  
    &.is-error {
      color: $danger;
    }
  
    &.is-info {
      color: grey;
    }
  }
}
